

<h2>Create Vehicle Parking</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="ownername">Owner Name:</label>
    <div class="col-sm-8">

      <input type="text" class="form-control" id='ownername' name="ownername" [(ngModel)]="model.ownername" autofocus="ownername"
        placeholder="Enter your Name">

    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="mobile">Mobile</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='mobile' name="mobile" [(ngModel)]="model.mobile" placeholder="Enter your number">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="vehiclenumber">Vehicle-Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='vehiclenumber' name="vehiclenumber" [(ngModel)]="model.vehiclenumber" placeholder="Enter your vehiclenumber">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="vehiclename">Vehicle-Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='vehiclename' name="vehiclename" [(ngModel)]="model.vehiclename" placeholder="Enter your vehiclename">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="parkblog">Parking-Block-No</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='parkblog' name="parkblog" [(ngModel)]="model.parkblog" placeholder="Enter your parkblog">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="parkdate">Parking-Date</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='parkdate' name="parkdate" [(ngModel)]="model.parkdate" placeholder="DD/MM/YY">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="parktime">Parking-Time</label>
    <div class="col-sm-8">
      <!-- <input type="text" class="form-control" id='parktime' [(ngModel)]="model.parktime" name="parktime" placeholder="00:00"> -->
      <div class="md-form md-outline">
        <input type="time" id="default-picker" class="form-control" [(ngModel)]="model.parktime" name="parktime" placeholder="Select time">
        <!-- <label for="default-picker">Default Time Picker</label> -->
      </div>
    </div>
  </div>

  

  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)='addEmployee()'>Save</button>
    </div>
  </div>
</form>


<h2>Edit & Delete Vehicle</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width='300'>OwnerName</th>
      <th width='300'>Mobile</th>
      <th width='300'>VehiclrNumber</th>
      <th width='300'>VehicleName</th>
      <th width='300'>ParkingBlockNo</th>
      <th width='300'>ParkingDate</th>
      <th width='300'>ParkingTime</th>
      <th item-width='300'>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor='let e of employee;let i=index'>
      <td>{{e.ownername}}</td>
      <td>{{e.mobile}}</td>
      <td>{{e.vehiclenumber}}</td>
      <td>{{e.vehiclename}}</td>
      <td>{{e.parkblog}}</td>
      <td>{{e.parkdate}}</td>
      <td>{{e.parktime}}</td>
      
      <td>
        <a class="btn btn-success" (click)="editEmployee(i)">Edit</a>
        <a class="btn btn-danger" (click)="deleteEmployee(i)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<h2>Update Vehicle</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="ownername">Owner Name:</label>
    <div class="col-sm-8">
  
      <input type="text" class="form-control" id='ownername' name="ownername" [(ngModel)]="model2.ownername" autofocus="ownername" >
  
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="mobile">Mobile</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='mobile' name="mobile" [(ngModel)]="model2.mobile" >
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="vehiclenumber">Vehicle-Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='vehiclenumber' name="vehiclenumber" [(ngModel)]="model2.vehiclenumber" >
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="vehiclename">Vehicle-Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='vehiclename' name="vehiclename" [(ngModel)]="model2.vehiclename" >
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="parkblog">Parking-Block-No</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='parkblog' name="parkblog" [(ngModel)]="model2.parkblog">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="parkdate">Parking-Date</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='parkdate' name="parkdate" [(ngModel)]="model2.parkdate">
    </div>
  </div>
  
  <!-- <div class="form-group">
    <label class="control-label col-sm-2" for="parktime">Parking-Time</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id='parktime' name="parktime" [(ngModel)]="model2.parktime">
    </div>
  </div> -->

  <div class="form-group">
    <label class="control-label col-sm-2" for="parktime">Parking-Time</label>
    <div class="col-sm-8">
      <!-- <input type="text" class="form-control" id='parktime' [(ngModel)]="model.parktime" name="parktime" placeholder="00:00"> -->
      <div class="md-form md-outline">
        <input type="time" id="default-picker" class="form-control" [(ngModel)]="model2.parktime" name="parktime"
          placeholder="Select time">
        <!-- <label for="default-picker">Default Time Picker</label> -->
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-warning" (click)='updateEmployee()'>Update</button>
    </div>
  </div>



</form>